{% extends "base.html" %}
{% load staticfiles %}

{% block title %}MSE Community of Learners{% endblock %}
{% block body_class %}community{% endblock %}
{% block section_class %}community{% endblock %}

{% block breadcrumbs %}
<li class="current_item">Community</li>
{% endblock %}
{% block page_title %}MSE Community of Learners{% endblock %}

{% block two_or_three %}three-col{% endblock %}

{% block columns %} {# first two columns (3rd is sidebar) #}
<!-- left  column -->
<article class="col-onethird">

	<h2>About our Community</h2>
    <h4><a href="javascript:popBox('connections','moreinfo','join_us')">Join us!</a></h4>

	<p>Mystic Seaport for Educators (MSE) is an <strong>ongoing</strong> collaboration between Mystic Seaport and a growing community of educators. The community includes educators, families and students involved in Museum projects, partnerships and website content creation. Working together, we aim to bring the treasures and resources of Mystic Seaport out of the Museum and into classrooms and homes across the country.</p>
	
	<p>The MSE Project represents a shift from delivering content in a static, one-way manner to a more participatory learning model that fosters shared authority, merging the expertise of museum staff with the standards-based needs of classroom educators. In the MSE planning phase, Mystic Seaport worked with over 140 educators, parents and students in a series of 56 co-creation workshops. Their ideas and feedback have shaped the development of the MSE website.  All content on this website has been and will continue to be developed by educators and museum staff in the <a href="javascript:popBox('connections','moreinfo','mse_fellows')">MSE Fellows</a> program.</p>
	
	<p>Click on "Community Projects" or "Community Members" to learn more about individuals and their classroom or web-based projects and please check back in the future, as we continue to add new content regularly.</p>
</article>

<!-- middle column -->
<article class="col-onethird">	
    <h2>Community Projects</h2>
	 
    <h4>Classroom Projects</h4>
	<ul class="community">				
		{% for project in project_list %}
			<li><a class="tooltip title" href="/community/projects/{{ project.short_name }}/"><img src="{% static 'community/projects/thumbpics/' %}{{ project.short_name }}_t.jpg" height="70" width="70" alt="image of {{ project.title }}"/><span class="tiptext">{{ project.title|safe }}</span></a></li>
		{% endfor %}
	</ul>
	<br clear="left"/>
	
	<h4>Online Projects</h4>
	<ul class="community">				
		{% for artifact in artifact_list %}
			<li><a class="tooltip title" href="/artifacts/{{ artifact.short_name }}/"><img src="{% static 'artifacts/thumbpics/' %}{{ artifact.filename }}_t.jpg" height="70" width="70" alt="image of {{ artifact.title }}"/><span class="tiptext">Artifact: {{ artifact.title|safe }}</span></a></li>
		{% endfor %}
		{% for document in document_list %}
			<li><a class="tooltip title" href="/documents/{{ document.short_name }}/"><img src="{% static 'documents/thumbpics/' %}{{ document.filename }}_t.jpg" height="70" width="70" alt="image of {{ document.title }}"/><span class="tiptext">Document: {{ document.title|safe }}</span></a></li>
		{% endfor %}
		{% for map in map_list %}
			<li><a class="tooltip title" href="/maps/{{ map.short_name }}/"><img src="{% static 'maps/thumbpics/' %}{{ map.short_name }}_t.jpg" height="70" width="70" alt="image of {{ map.title }}"/><span class="tiptext">Map: {{ map.title|safe }}</span></a></li>
		{% endfor %}
	</ul>
</article>

{% endblock columns %}

{% block sidebar %} {# just inside of base: div id="sidebar" class="col-onethird" #}

<div class="resource_sidebar">
	<h2>Community Members</h2>
	<ul class="community">	
		{% for item in item_list %}
			<li>
				<a class="tooltip title" href="/community/profiles/{{ item.short_name }}/">
			<img src="{% static 'community/profiles/thumbpics/' %}{{ item.short_name }}_t.jpg" height="70" width="70" alt="image: {{ item.filename }}"/>
			<span class="tiptext">{{ item.profile_name|safe }}</span>
			</a></li>
		{% endfor %}
	</ul>
</div><!-- /resource_sidebar --> 
{% endblock sidebar %}


