{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Online Learning Community: {{ resource_object.profile_name}}{% endblock %}
{% block body_class %}community{% endblock %}
{% block section_class %}community{% endblock %}

{% block breadcrumbs %}
<li><a href="/community/">MSE Community of Learners</a></li>
<li class="current_item">{{ resource_object.profile_name }}</li>

{% endblock %}
{% block page_title %}Member Profile: {{ resource_object.profile_name}}{% endblock %}
{% block content_by %}<h5>{{ resource_object.profile_name}}, {{ resource_object.institution}}, {{ resource_object.location}}</h5>
{% endblock %}

{% block two_or_three %}three-col{% endblock %}

{% block columns %} {# first two columns (3rd is sidebar) #}
<!-- left  column -->
<article class="col-onethird">
	<img src="{% static 'community/profiles/fullpics/' %}{{ resource_object.short_name }}_f.jpg" width="315"  alt="image of {{ resource_object.profile_name}}" />
</article>

<!-- middle column -->
<article class="col-onethird">
	
	<h2>About {{ resource_object.profile_name}}</h2>
	{{ resource_object.narrative|safe}}
</article>

{% endblock columns %}

{% block sidebar %} {# just inside of div id="sidebar" class="col-onethird" #}
<div class="resource_sidebar">
	<h3>This Member&rsquo;s Projects:</h3>
	<ul>		
	{% for project in project_list %}
		<li><a class="tooltip title" href="/community/projects/{{ project.short_name }}/"><img src="{% static 'community/projects/menupics/' %}{{ project.short_name }}_m.jpg" height="150" width="150" alt="image of {{ project.title }}"/><br/>
		Classroom Project: {{ project.title|safe }}</a></li>
	{% endfor %}
	{% for artifact in artifact_list %}
		<li><a class="tooltip title" href="/artifacts/{{ artifact.short_name }}/"><img src="{% static 'artifacts/menupics/' %}{{ artifact.filename }}_m.jpg" height="150" width="150" alt="image of {{ artifact.title }}"/><br/>
		Artifact Article: {{ artifact.title|safe }}</a></li>
	{% endfor %}
	{% for document in document_list %}
		<li><a class="tooltip title" href="/documents/{{ document.short_name }}/"><img src="{% static 'documents/menupics/' %}{{ document.filename }}_m.jpg" height="150" width="150" alt="image of {{ document.title }}"/><br/>
		Living Document: {{ document.title|safe }}</a></li>
	{% endfor %}
	{% for geomap in geomap_list %}
		<li><a class="tooltip title" href="/maps/{{ geomap.short_name }}/"><img src="{% static 'maps/menupics/' %}{{ geomap.short_name }}_m.jpg" height="150" width="150" alt="image of {{ geomap.title }}"/><br/>
		Map: {{ geomap.title|safe }}</a></li>
	{% endfor %}
	{% for interview in interview_list %}
		<li><a class="tooltip title" href="/scholars/interviews/{{ interview.short_name }}/"><img src="{% static 'scholars/interviews/menupics/' %}{{ interview.short_name }}_m.jpg" height="150" width="150" alt="image of {{ interview.title }}"/><br/>
		Interview: {{ interview.scholar|safe }}</a></li>
	{% endfor %}
	</ul>
</div><!-- /resource_sidebar --> 

{% endblock sidebar %}


