{% extends "resource_two_col.html" %}
{% load staticfiles %}

{% block title %}Resource Set: {{ resource_object.title }}{% endblock %}
{% block body_class %}sets{% endblock %}

{# block content_by default inherited from resource_sidebar.html #}

{% block section_class %}sets{% endblock %}


{% block breadcrumbs %}
<li><a href="/sets/">Resource Sets</a></li>
<li class="current_item">{{ resource_object.title|safe }}</li>
{% endblock %}
{% block page_title %}{{ resource_object.title|safe }}{% endblock %}

{% block content %}

	<h2>About This Resource Set</h2>
	{{ resource_object.narrative|safe }}

   <ul class="menu">
	
   {% for artifact in artifact_list %}
	<li>
		<a href="/artifacts/{{ artifact.short_name }}/" class="title">
		<img src="{% static 'artifacts/menupics/' %}{{ artifact.filename }}_m.jpg" height="150" width="150" alt="image of {{ artifact.title }}"/><br/>
		{% if artifact.augmented %}
		<img src="{% static 'images/typeicon_artifact_article.jpg' %}" height="24" width="31" alt="artifact article icon" class="typeicon"/>
		{% else %}
		<img src="{% static 'images/typeicon_artifact_raw.jpg' %}" height="24" width="31" alt="artifact record icon" class="typeicon"/>
		{% endif %}
		{{ artifact.title|safe }}</a>
	</li>
   {% endfor %}
   {% for document in document_list %}
	<li>
      <a href="/documents/{{ document.short_name }}/" class="title">
      <img src="{% static 'documents/menupics/' %}{{ document.filename }}_m.jpg" height="150" width="150" alt="image of {{ document.title }}"/><br/>
		{% if document.augmented %}
			<img src="{% static 'images/typeicon_document_living.jpg' %}" height="24" width="28" alt="living document icon" class="typeicon"/>
		{% else %}
			<img src="{% static 'images/typeicon_document_raw.jpg' %}" height="24" width="28" alt="document record icon" class="typeicon"/>
		{% endif %}
      {{ document.title|safe }}</a>
	</li>
   {% endfor %}

   {% for map in map_list %}
	<li>
      <a href="/maps/{{ map.short_name }}/" class="title">
      <img src="{% static 'maps/menupics/' %}{{ map.short_name }}_m.jpg" height="150" width="150" alt="image of {{ map.title }}"/><br/>
      <img src="{% static 'images/typeicon_map.jpg' %}" height="24" width="24" alt="map icon" class="typeicon"/> {{ map.title|safe }}</a>
	</li>
   {% endfor %}
   {% for lecture in lecture_list %}
	<li>
      <a href="/scholars/lectures/{{ lecture.short_name }}/" class="title">
      <img src="{% static 'scholars/lectures/menupics/' %}{{ lecture.short_name }}_m.jpg" height="150" width="150" alt="image of {{ lecture.title }}"/><br/>
      <img src="{% static 'images/typeicon_lecture.jpg' %}" height="24" width="33" alt="lecture icon" class="typeicon"/> {{ lecture.title|safe }}</a>
	</li>
   {% endfor %}
   </ul>
{% endblock content %}

	{% block items %}
	{% endblock items %}

	{% block attributes %}
	{% endblock attributes %}