# Extensions
*.pyc
*.log
*.db
*.jpg
*.gif
*.lnk

# Files
.DS_Store
.com.apple.timemachine.supported
secrets.json

# Directories
.svn/
static/
tinymce/
fonts/
ZoomAssets/
templates/robots.txt
mse/local_static/images/
mse/local_static/common/css_images/