<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta charset="UTF-8">
    <title>{% block head_title %}MSE Site management{% endblock %}</title>
	
	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'team/common/team_styles.css' %}" type="text/css"  media="all"/>
		{% block additional_css %}{% endblock %}
    {% endblock %}
    {% block javascript %}
    	<!-- 
		<script src="{% static 'common/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'common/scripts.js' %}" type="text/javascript"></script>
		<script src="{% static 'common/slimpop.js' %}" type="text/javascript"></script>
		-->
		{% block additional_js %}{% endblock %}
        <!-- to make IE be able to render html 5 styles -->
		<!-- JavaScript -->
		<!--[if IE]><![endif]-->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    {% endblock %}
</head>

<body>
<a id="top"></a>
<h1>{% block page_title %}MSE Site Management{% endblock %}</h1>

<!--  header and main nav -->
<header id="header">
	<p>possible nav header</p>
	<p class="breadcrumbs">
		{% block breadcrumbs %}

		{% endblock %}
	</p>
</header><!-- #header -->

{% block content %}
Content goes here
{% endblock %}

</body>
</html>
