{% extends "base_menu.html" %}
{% load static %}

{% block title %}Lectures &amp; Scholars{% endblock %}
{% block body_class %}lectures{% endblock %}
{% block section_class %}lectures{% endblock %}

{% block breadcrumbs %}
<li class="current_item">Lectures &amp; Scholars</li>
{% endblock %}
{% block page_title %}Lectures &amp; Scholars{% endblock %}

{% block content %}

	<h2>Audio Lectures by Munson Institute Scholars</h2>
	<ul class="menu">
	{% for item in item_list %}
		<li>
		<a href="/scholars/lectures/{{ item.short_name }}/" class="title">
		<img src="{% static 'scholars/lectures/menupics/' %}{{ item.short_name }}_m.jpg" height="150" width="150" alt="image: {{ item.short_name }}"/><br/>
		{{ item.title|safe }}</a><br/>
		by <a href="javascript:popBox('connections','moreinfo','{{ item.scholar_short_name }}')">{{ item.scholar }}</a>
		</li>
	{% endfor %}
	</ul>

	<h2>Video Interviews of Munson Institute Scholars</h2>
	<ul class="menu">
		{% for interview in interview_list %}
			<li>
			<a href="/scholars/interviews/{{ interview.short_name }}/" class="title">
			<img src="{% static 'scholars/interviews/menupics/' %}{{ interview.short_name }}_m.jpg" height="150" width="150" alt="image: {{ interview.short_name }}"/><br/>
			Interview of {{ interview.scholar|safe }}</a><br/>
			by 
			{% for profile in interview.profiles.all %}
				<a href="/community/profiles/{{ profile.short_name }}/" class="title">
				{{ profile.profile_name|safe }}</a>
			{% endfor %}
			</li>
		{% endfor %}	
	</ul>


{% endblock content %}

{% block menu_side_content %}
	<h2>About the Munson Institute Lectures</h2>
    <p><a href="http://www.neh.gov" target="_blank"><img src="{% static 'scholars/lectures/images/neh_logo_horizontal_rgb.jpg' %}" height="62" width="252" alt="NEH logo"/></a><br/><a href="http://cthumanities.org/" target="_blank"><img src="{% static 'scholars/lectures/images/CThumanities_logo.jpg' %}" height="38" width="288" alt="NEH logo"/></a><br/>
This feature contains MSE teacher-scholar interviews as well as audio recordings of popular lectures at Mystic Seaport professional development programs and at the <a href="http://www.mysticseaport.org/munson/" class="link_external"  target="collections">Frank C. Munson Institute of American Maritime Studies at Mystic Seaport</a>, as well as MSE teacher-scholar interviews.  The audio lectures and video interviews featured on this page were made possible by the <a href="http://www.neh.gov" class="link_external" target="external">National Endowment for the Humanities</a> and the <a href="http://cthumanities.org/" class="link_external" target="external">Connecticut Humanities Council</a>.</p>
<p>Please check back in the future, as we continue to add new lectures and interviews.</p>

{% endblock menu_side_content %}
