{% extends "list_base.html" %}
{% load staticfiles %}

{% block aside_box_area %}
  <section class="content-aside--box">
    <h2 class="content-wrapper--head">Funders for this Feature</h2>
    {{ menu_info.aside_blurb|safe }}
  </section>
{% endblock aside_box_area %}  


{% block menu %}
  <ul class="item-menu--grid">
  {% for item in resource_object_list %}
    <li class="item-menu--item naked">
      <a href="{% url 'scholars:lecture_detail' item.short_name %}">
        <img src="{% static 'scholars/lectures/menupics/' %}{{ item.short_name }}_m.jpg" alt="image: {{ item.short_name }}" />
        {{ item.title|safe }}
      </a>
      by <a href="javascript:popBox('connections','moreinfo','{{ item.scholar_short_name }}')"  class="item-menu--detail">{{ item.scholar }}</a>
    </li>
  {% endfor %}
    </ul>     
{% endblock menu %}

