{% extends "resource_sidebar.html" %}
{# extended by detail, detail_vertical #}
{% load staticfiles %}

{% block title %}Artifact Article: {{ resource_object.title|safe }}{% endblock %}
{% block body_class %}artifacts{% endblock %}

{# block content_by default inherited from resource_sidebar.html #}

{% block section_class %}artifacts{% endblock %}


{% block breadcrumbs %}
<li><a href="/artifacts/">Artifact Articles</a></li>
<li class="current_item">{{ resource_object.title|safe }}</li>
{% endblock %}
{% block page_title %}{{ resource_object.title|safe }}{% endblock %}


{% block attributes %}
	{% include "artifacts/artifact_attributes.html" %}
{% endblock attributes %}

