{% extends "artifacts/artifact_raw_base.html" %}
{# includes view_controls #}
{% load static %}

{% block two_or_three %}three-col{% endblock %}


{% block columns %} {# columns declared in base.html #}
<!-- left  column -->
<article class="col-onethird">
	
	<div id="view_wrapper">
		<img src="{% static 'artifacts/fullpics/' %}{{ resource_object.filename }}_A_f.jpg" alt="image: {{ resource_object.title }}"  />
		{% include "artifacts/view_controls.html" %}
	</div> <!--/view wrapper-->
	
</article>
   
<!-- middle column -->
<article class="col-onethird">

	<h2>Description</h2>

	{{ resource_object.description|safe }}

	<!--end populated by detail.html-->
	<!-- end content block was here-->
</article>

{% endblock columns %}

