{% extends "base_menu.html" %}
{% load static %}

{% block title %}Artifact Article Menu{% endblock %}
{% block body_class %}artifacts{% endblock %}
{% block section_class %}artifacts{% endblock %}

{% block breadcrumbs %}
<li class="current_item">Artifact Articles</li>
{% endblock %}
{% block page_title %}Artifact Articles{% endblock %}

{% block content %}

	{% if resource_object_list %}
	   <ul class="menu plus">
	   {% for resource_object in resource_object_list %}
		<li>
	       <a href="/artifacts/{{ resource_object.short_name }}/" class="title">
	       <img src="{% static 'artifacts/menupics/' %}{{ resource_object.filename }}_m.jpg" height="150" width="150" alt="image: {{ resource_object.short_name }}"/><br/>
	       {{ resource_object.title|safe }}</a><br/>
	       {{ resource_object.id_number }}
	
		</li>
	   {% endfor %}
	   </ul>
	{% else %}
	   <p>No artifacts are available.</p>
	{% endif %}

{% endblock content %}

{% block menu_side_content %}
	<h2>About Artifact Articles</h2>
    <p>"Artifact Articles" are an MSE original web feature that includes brief information and context about an artifact in the collection, written by an <a href="javascript:popBox('connections','moreinfo','mse_fellows')">MSE Fellow</a> or Mystic Seaport staff.  Articles contain teacher-friendly components such as <em>Questions for Deeper Thought, Artifact Facts, Related Items from the Collection, In the Classroom ideas, Related Resources</em> and <em>Related Websites</em>.  Check back often as we add new content regularly.</p>

<h4><a href="/artifacts/raw/">Browse All Artifact Records</a></h4>    
{% endblock menu_side_content %}
