{% extends "base.html" %}
{% load staticfiles %}

{% block title-area %}
	<h1>Artifact Articles</h1>
	<p>"Artifact Articles" are an MSE original web feature that includes brief information and context about an artifact in the collection, written by an MSE Fellow or Mystic Seaport staff. Articles contain teacher-friendly components such as Questions for Deeper Thought, Artifact Facts, Related Items from the Collection, In the Classroom ideas, Related Resources and Related Websites. Check back often as we add new content regularly.</p>
{% endblock title-area %}


{% block main-content %}
<!-- main content -->
<div class="container main-content">
  <div id="row"> 
    <!-- search box -->  
    <div class="col-lg-4 col-sm-4 sidebox">
      <h2>Search</h2>
        </form><h4>121 Artifact Articles</h4>
      <p>Sort by: <a href="#">Title</a> | <a href="#">Item's Date</a></p>
      <form id="item-search" class="item-search" data-action="/search" action="" method="GET">
          <input type="hidden" name="itemsearch" value="educators.mysticseaport.org/" />
          <label for="search-keywords"><input id="search-keywords" type="search" data-name="keywords" name="q" placeholder="Search" aria-label="Search" value="" required="required"></label>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      <h4>Tags:</h4>
      <p><a href="#">whales</a>, <a href="#">artwork</a>, <a href="#">tools</a>, <a href="#">logbooks</a>, <a href="#">native people</a>, <a href="#">history</a>, <a href="#">culture/lifeways</a>, <a href="#">navigation/travel</a>, <a href="#">mariners</a>, <a href="#">colonialism</a></p>
    </div><!--cols -->

    <div class="col-lg-8">
      <ul class="list-unstyled menu">
	   {% for resource_object in resource_object_list %}
		<li class="col-lg-3">
			<a href="/artifacts/{{ resource_object.short_name }}/"><img 
			src="{% static 'artifacts/menupics/' %}{{ resource_object.filename }}_m.jpg" alt="image: {{ resource_object.short_name }}" class="img-responsive"><br/>
			<h4>{{ resource_object.title|safe }}</h4></a>
		</li>
	   {% endfor %}
      </ul>
      
    </div><!--cols -->
  </div><!--/row-->

  <!-- paging -->
  <div id="row" class="paging">
    <div class="col-lg-4 col-sm-3">
      <p><a href="#">first</a> | <a href="#">prev</a></p>
    </div><!--cols -->

    <div class="col-lg-4 col-sm-6 text-center">
      <p><a href="#" class="selected">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a></p>
    </div><!--cols -->

    <div class="col-lg-4  col-sm-3 text-right">
       <p><a href="#">next</a> | <a href="#">last</a></p>
   </div><!--cols -->

  </div><!--/row-->
</div><!-- container main-content-->


{% endblock main-content %}
