{% load staticfiles %}

<ul class="img_tools">
	<!--page_suffix-->
	<li><a href="javascript:zoom_view('artifacts', '{{ resource_object.short_name }}', '{{ page_suffix }}')"><img src="{% static 'images/zoom.gif' %}" width="23" height="33" alt="zoom"/></a></li>
	<li><a href="javascript:window.print()"><img src="{% static 'images/print.gif' %}" width="23" height="33" alt="print"/></a></li>
	
	<!-- li><a href="#"><img src="{% static 'images/pdf.gif' %}" width="23" height="33" alt="pdf"/></a></li -->
	
</ul>
<ul class="img_details">
{% if resource_object.page_set.all %}
	<li class="space">Views: </li>
	{% for page in resource_object.page_set.all %}
		{% if page.page_suffix == page_suffix %}
			<li class="selected"><img src="{% static 'artifacts/viewpics/' %}{{ resource_object.filename }}_{{ page.page_suffix }}_t.jpg" width="40" height="40" alt="detail"/></li>
		{% else %}
			<li><a href="javascript:artifactView('{{ resource_object.short_name }}', '{{ page.page_suffix }}')"><img src="{% static 'artifacts/viewpics/' %}{{ resource_object.filename }}_{{ page.page_suffix }}_t.jpg" width="40" height="40" alt="detail"/></a></li>
		{% endif %}
		
	{% endfor %}
{% endif %}
</ul>
