{% extends "base_zoom.html" %}

{% load staticfiles %}

{% block zoom_filepath %}{% static 'artifacts/zooms/' %}{{ resource_object.filename }}{% endblock %}


{% block resource_type_title %}Artifact{% endblock %}

{% block page_nav %}
	{% if resource_object.page_set.all %}
		<h4>Views:
		{% for page in resource_object.page_set.all %}		
			{% if page.page_suffix == page_suffix %}
				<span class="selected"><img src="{% static 'artifacts/viewpics/' %}{{ resource_object.filename }}_{{ page.page_suffix }}_t.jpg" width="40" height="40" alt="detail"/></span>
			{% else %}
				<a href="javascript:zoom_view('artifacts', '{{ resource_object.short_name }}', '{{ page.page_suffix }}')"><img src="{% static 'artifacts/viewpics/' %}{{ resource_object.filename }}_{{ page.page_suffix }}_t.jpg" width="40" height="40" alt="detail"/></a>
			{% endif %}		
		{% endfor %}
		</h4>
	{% endif %}	
						
{% endblock %}