{% load staticfiles %}

<ul class="lms_controls">
	<li><a href="javascript:docPage('{{ resource_object.short_name }}', '{{ page_suffix }}', 'img')"><img src="{% static 'documents/images/image_' %}{{ doc_mode }}.jpg" width="29" height="33" alt="view image"/></a></li>
	<li><a href="javascript:docPage('{{ resource_object.short_name }}', '{{ page_suffix }}', 'txt')"><img src="{% static 'documents/images/text_' %}{{ doc_mode }}.jpg" width="29" height="33" alt="view text"/></a></li>
	<li><a href="javascript:zoom_view('documents', '{{ resource_object.short_name }}', '{{ page_suffix }}')"><img src="{% static 'images/zoom.gif' %}" width="23" height="33" alt="zoom"/></a></li>
	<li><a href="javascript:window.print()"><img src="{% static 'images/print.gif' %}" width="23" height="33" alt="print"/></a></li>

	<!-- li><img src="{% static 'images/pdf.gif' %}" width="23" height="33" alt="pdf"/></li -->

	{% if resource_object.page_set.all %}
		<li class="space">Page: </li>
		{% for page in resource_object.page_set.all %}
			{% if page.page_suffix == page_suffix %}
				<li class="selected">&nbsp;{{ page.page_label }}</li>
			{% else %}
				<li>&nbsp;<a href="javascript:docPage('{{ resource_object.short_name }}', '{{ page.page_suffix }}', '{{ doc_mode }}')">{{ page.page_label }}</a></li>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	{% if resource_object.augmented %}
		<li class="space">Read Aloud: 
			<audio controls="controls">
				<source src="{% static 'documents/media/' %}{{ resource_object.filename }}_{{ page_suffix }}.oog" type="audio/ogg"/>
				<source src="{% static 'documents/media/' %}{{ resource_object.filename }}_{{ page_suffix }}.mp3" type="audio/mpeg"/>
			</audio>
		</li>
	{% endif %}
</ul>
