{% load static %}
{# closely resembles connections/base_connection.html #}
<div id="popwrap">
	<p class="close">
		{% if siteid == 1 %}
		<a href="/{{ resource_object.resource_type }}s/{{ resource_object.short_name }}/" class="link_newpage">go to full page</a> | 
		<a href='javascript:hideBox();'>close</a> | <a href="javascript:divPrint('ajax_wrapper');">print</a></p>
		{% endif %}
		{% if siteid == 2 %}
		<a href='javascript:hideBox();'>close</a>
		{% endif %}
	</p>
	<h1>{{ resource_object.title|safe }}</h1>
	{# content here is copy from resource sidebar - consider refactoring to include #}
	<h5>Content by: 	
	{% for profile in resource_object.profiles.all %}
		{{ profile.profile_name|safe }}
	{% endfor %}{% if resource_object.edited_by %},
		Edited by: {{ resource_object.edited_by }}
	{% endif %}
	</h5>
	
	{% block collection_image %}
		collection_image
	{% endblock collection_image %}
	
	<h2 class="pop-description">Description</h2>	
	{{ resource_object.description|safe }}

	{% block attributes %}
		slim content
	{% endblock attributes %}
	
</div><!-- /popwrap-->
