{% extends "pq/maps/base_map_full.html" %}
{% load static %}

{% block breadcrumbs %}
		<li class="current_item">{{ resource_object.title|safe }}</li>
{% endblock %}

{% block under_title %}
	<p>Check the boxes for the voyages you'd like to compare.
	{% if map_index == -1  %}</br> The voyage you were just viewing is not available for comparison. {% endif %}</p>
{% endblock %}

{% block map_nav %}
<script type="text/javascript">
var compare_params = {
	init_location: ["{{ resource_object.init_lat }}", "{{ resource_object.init_long }}", {{ resource_object.init_zoom }} ],
	// layerYears: ['1841', '1842']
	layerIDs: [{% for item in voyage_list %}{{item.voyageID}}{% if not forloop.last %}, {% endif %}{% endfor %}],
	// could use json and combine w/ layerIDs, but layerID code works and is parallel to
	// layerYears
	layerColors: [{% for item in voyage_list %}'{{item.color}}'{% if not forloop.last %}, {% endif %}{% endfor %}],
	startMapIndex: {{map_index}}
}
</script>

<form name="map_controls" action="not_submitted" method="POST">
		
	<h2>Select Voyages</h2>
	<ul class="compare_list">
	{% for item in voyage_list %}
		<li style="border-top: 2px solid #{{item.color}};">
			<input type="checkbox" name="item_chosen" id="{{item.voyageID}}" value="{{item.voyageID}}"><label for="{{item.voyageID}}">{{item.title|safe}}</label><br/>
			{{item.date_range}}, {{item.description}}<br/>
			<a href="/maps/voyage/{{ item.short_name }}">see voyage map</a>
		</li>
	{% endfor %}						
	</ul>
</form>
<!-- ENTRIES LIST SIDEBAR  -->
	<div id="side_bar" class="hidden"></div><!--end side_bar-->
{% endblock %}
