footer {
  background-color: $dark-blue;
  color: white;
  padding: $base-spacing;
}

.footer-social  {
  @include span-columns(4);
}

.footer-social--items  {
  list-style-type: none;
}

.footer-social--item  {
  display: inline-block;
  margin-right: $small-spacing;
}

.footer-search  {
  @include span-columns(8);
}