footer {
  background-color: $dark-blue;
  color: darken(white, 20%);
  font-weight: 200;
  padding: $base-spacing;

  @include media(max-width $max-width) {
  padding: $base-spacing;
  font-size: $base-font-size * 0.85;
  }

  @include media(max-width $mobile-navigation-breakpoint) {
    font-size: rem(12);
  }
}

.footer-social  {
  @include span-columns(4);
}

.footer-social--items  {
  list-style-type: none;
}

.footer-social--item  {
  display: inline-block;
  margin-right: $small-spacing;
}

.footer-search  {
  @include span-columns(8);

  	a {
  	color: white;
  	text-decoration: underline;
  	}
}