.title-area {
  margin-bottom: $base-spacing;
  background-color: $toned-blue;
    
    header  {
        @include outer-container;

        @include media(max-width $max-width) {
        padding: $base-spacing;
        }
    }
}