.title-area {
  background-color: $toned-blue;
  margin-bottom: $base-spacing;
    
  header  {
    @include outer-container;
    
    @include media(max-width $max-width) {
      padding: $base-spacing;
      font-size: $base-font-size * 0.85;
    }

    @include media(max-width $mobile-navigation-breakpoint) {
      font-size: rem(12);
    }
  }
}

.title-area--logo {
  @include span-columns(4);
}

.title-area--text {
  color: $primary-color;
  @include span-columns(8);

    h1 {
      font-size: $large-font-size;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: $large-font-size;
      font-weight: 100;
      font-style: italic;
      margin: 0;
    }

    a {
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }
}

.no-logo {
  @include shift(4);
}