footer {
  background-color: $teal;
  color: white;
  font-size: $small-font-size;
  margin-top: $large-spacing;
  padding: $large-spacing $base-spacing;

  @include media(max-width $max-width) {
    padding: $base-spacing;
    font-size: $base-font-size * 0.85;
  }

  @include media(max-width $mobile-navigation-breakpoint) {
    font-size: rem(12);
  }

  .footer-heading {
    color: white;
    font-size: $medlarge-font-size;
    margin-bottom: 0;
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: $toned-blue;
  }
  
  @media print {
    background-color: transparent;
    border-top: thin solid $primary-color;
    color: $primary-color;
  }
}

.footer-social  {
  @include span-columns(4);
}

.footer-social--item  {
  color: white;
  display: inline-block;
  font-family: icomoon;
  font-size: 2em;
  margin-right: $small-spacing / 2;
}

.footer-search  {
  @include span-columns(8);
}
