{% load staticfiles %}

<p>This project is generously funded by the following:</p>

<p>
	<a href="http://imls.gov" target="external">
		<img src="{% static 'images/funder_logos/imls_logo.gif' %}" alt="Institute of Museum and Library Services" width="350">
	</a>
</p>

<p>
	<a href="http://cthumanities.org" target="external">
		<img src="{% static 'images/funder_logos/CThumanities_logo.gif' %}" alt="Connecticut Humanities" width="350">
	</a>
</p>

<p>
	<a href="http://neg.gov" target="external">
		<img src="{% static 'images/funder_logos/neh_logo.png' %}" alt="National Endowment for the Humanities" width="350">
	</a>
</p>

