{% extends "base.html" %}
{% load static %}

{% block additional_css %}
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'map_assets/map_styles.css' %}"/>
{% endblock %}
{% block additional_js %}
	{% include "maps/common/map_header.js" %}
{% endblock %}

{% block body_class %}maps{% endblock %}
{% block section_class %}maps{% endblock %}

{% block fullpage %}
<div class="col-full">
	<ol class="breadcrumbs olc_crumbs">
		<li class="home"><a title="Go to Learn." href="http://www.mysticseaport.org/learn/">Learn</a></li>
		<li><a href="/">MSE Home</a></li>
		<li><a href="/maps/">Active Maps</a></li>
		{% block opt_breadcrumb %}<li><a href="/maps/{{ resource_object.short_name }}">About This {{ resource_object.map_type }} Map</a></li>{% endblock %}
		<li class="current_item">{{ resource_object.title|safe }}</li>
	</ol>
	<h1>{{ resource_object.title|safe }}</h1>
	
	{% block instructions %}instructions
	{% endblock %}


    <div id="left_col">
	{% block map_nav %}map nav and sidebar
	{% endblock %}
	<!--<h3>Map Overlays</h3>-->
	<form name="overlay_controls" action="not_submitted" method="POST">
		<input type="hidden" name="grounds" id="test" value="test"><!--<label for="test">19th Cent Whaling Grounds</label> type="checkbox"-->
	</form>
	</div><!-- /left_col  -->
	
    <div id="map_wrapper">
	    <div id="map_canvas"></div>
	</div>

</div><!-- /col-full -->

{% endblock fullpage %}
