{% extends "base.html" %}
{% load staticfiles %}

{% block main-content %}

<!-- main content -->
<div class="container main-content">
  <div id="row"> 
    <!-- search box -->  
    <div class="col-lg-4 col-sm-4 sidebox">
      <h2>Compare Voyages</h2>
      <p>Plot multiple voyages</p>
    </div><!--cols -->

	<h2>Voyage Maps</h2>
	<p>These maps present the routes of actual voyages taken from the ship's logbook.<br/>
    <div class="col-lg-8">
      <ul class="list-unstyled menu">
	   {% for geomap in item_list %}
  		<li class="col-lg-3">
  			<a href="/maps/{{ geomap.short_name }}/"><img 
  			src="{% static 'maps/menupics/' %}{{ geomap.short_name }}_m.jpg" alt="image: {{ geomap.short_name }}" class="img-responsive"><br/>
  			<h4>{{ geomap.title|safe }}</h4></a>
  		</li>
	   {% endfor %}
      </ul>    
    </div><!--cols -->

	<h2>Story Maps</h2>
	<p>These maps present the routes of actual voyages taken from the ship's logbook.<br/>
    <div class="col-lg-8">
      <ul class="list-unstyled menu">
	   {% for geomap in story_list %}
  		<li class="col-lg-3">
  			<a href="/maps/{{ geomap.short_name }}/"><img 
  			src="{% static 'maps/menupics/' %}{{ geomap.short_name }}_m.jpg" alt="image: {{ geomap.short_name }}" class="img-responsive"><br/>
  			<h4>{{ geomap.title|safe }}</h4></a>
  		</li>
	   {% endfor %}
      </ul>
    </div><!--cols -->

  </div><!--/row-->

  <!-- paging -->
  <div id="row" class="paging">
    <div class="col-lg-4 col-sm-3">
      <p><a href="#">first</a> | <a href="#">prev</a></p>
    </div><!--cols -->

    <div class="col-lg-4 col-sm-6 text-center">
      <p><a href="#" class="selected">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a></p>
    </div><!--cols -->

    <div class="col-lg-4  col-sm-3 text-right">
       <p><a href="#">next</a> | <a href="#">last</a></p>
   </div><!--cols -->

  </div><!--/row-->
</div><!-- container main-content-->


{% endblock main-content %}
