{% extends "connections/base_connection.html" %}
{% load staticfiles %}

{% block heading %}{{ connection_object.media_type }}{% endblock %}
{% block connection_title %}{{ connection_object.title|safe }}{% endblock %}

{% block slim_content%}

{% if connection_object.media_type == "Image" %}
<img src="{% static 'connections/audiovisuals/images/' %}{{ connection_object.short_name }}.jpg" alt="image: {{ connection_object.title }}"  />
{% endif %}

{% if connection_object.media_type == "Audio" %}
<audio controls>
	<source src="{% static 'connections/audiovisuals/audio/' %}{{ connection_object.short_name}}.mp3" type="audio/mpeg"><source>
	<source src="{% static 'connections/audiovisuals/audio/' %}{{ connection_object.short_name}}.ogg" type="audio/ogg"><source>
	<!-- fallback - must be IE -->
</audio>
{% endif %}

{% if connection_object.media_type == "Video" %}
<div class="video">
	<canvas width="960" height="540"></canvas>
		<video controls="controls">
		  <source src="{% static 'connections/audiovisuals/video/' %}{{ connection_object.short_name}}.webm" type="video/webm">
		  <source src="{% static 'connections/audiovisuals/video/' %}{{ connection_object.short_name}}.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>
</div> <!-- /video -->
{% endif %}



<p class="credit">&copy; {{ connection_object.credit_line }}</p>

{{ connection_object.narrative|safe }}

{% endblock slim_content %}
