{% extends "connections/base_connection.html" %}
{% load static %}

{% block heading %}For Further Study{% endblock %}
{% block connection_title %}{{ item_title|safe }}{% endblock %}
{% block slim_content%}

	{% if source_list %}
	<h3>Bibliographic Sources</h3>
	   <ul>
	   {% for biblio in source_list %}
			<li>{{ biblio.citation|safe }}</li>
	   {% endfor %}
	   </ul>
	{% endif %}

	{% if arts_list %}
	<h3>Related Art &amp; Literature</h3>
	   <ul>
	   {% for biblio in arts_list %}
			<li>{{ biblio.citation|safe }}</li>
	   {% endfor %}
	   </ul>
	{% endif %}

{% endblock slim_content %}
