{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{# resource_type|title #}: {{ resource_object.title|safe }}{% endblock %}

{% block title_area %}
  <aside class="title-area--icon">
    <i class="title-area--icon-img icon-video" aria-hidden="true"></i>
  </aside>

  <section class="title-area--text">
    <p class="breadcrumbs">
      <a href="{% url 'videos:video_list' %}">Videos</a>
    </p>
    <h1>{{ resource_object.title|safe }}</h1>
    <p>{{ resource_object.producer|safe }}</p>
  </section>
{% endblock title_area %}


{% block content_area %}
<!-- main content -->
  <!-- page content --> 

    <section class="content-wrapper">
      <aside class="content-aside">
        <section class="content-aside--box">
          <h2 class="content-wrapper--head">Related resources</h2>
          <p>Goes here</p>
        </section>

      </aside>

      <section class="content-main">
        <h2 class="content-wrapper--head">{{ resource_object.title|safe }}</h2>
        {{ resource_object.narrative|safe }}

        <article class="content-main--interview">
          <div id="inter_view_wrapper">   

           <!-- <canvas width="960" height="540"></canvas>
            <video width="960" height="540" controls="controls" poster="/static/scholars/interviews/images/videoposter.jpg"> -->

          <div class="video">

            <iframe width="960" height="540" src="https://www.youtube.com/embed/{{ resource_object.video_source }}?rel=0" frameborder="0" allowfullscreen></iframe>

            <!-- <iframe src="https://player.vimeo.com/video/243579287" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

          </div> <!-- /video -->

          </div> <!--/ inter_view_wrapper-->
        </article><!--/content-main--interview-->

      </section><!-- /content-main-->
    </section><!-- /content-wrapper -->


{% endblock content_area %}
