{% extends "list_base.html" %}
{% load static %}

{% block aside_box_area %}

  <section class="content-aside--box search">
    <h2 class="content-wrapper--head">Search</h2>

    <input type="search" name="q" value="{{ form.q.value }}" id="id_q" placeholder="Search resources" aria-label="Search" class="search-field"/>

    <input type="submit" value="Go" />

    <p id="clear"><a href="#">clear search</a></p>
    
    <h2 class="content-wrapper--head">Narrow Your 
    {% if form.q.value %}
      Search
    {% else %}
      View
    {% endif %}
    </h2>
      <!-- ul class="search-resources--filters" -->
      {{ form.rts }}

  </section>
{% endblock aside_box_area %}  

{% block menu %}
<h2 class="content-wrapper--head">
    {{ result_count }} 
    {% if form.q.value %}
      Items found matching your search
    {% else %}
      Items in this view
    {% endif %}
</h2>
<table class="search-resources">
  <tr class="search-resources--heads">
    <th class="search-resources--pic">&nbsp;</th>
    <th class="search-resources--title">Title</th>
    <th class="search-resources--type">Type</th>
    <th class="search-resources--content-by">Content by</th>
  </tr>
  {% for resource_object in resource_object_list %}
    <tr>
      <td>
        <a href="{% url resource_object.app_namespace|add:':'|add:resource_object.resource_type|add:'_detail' resource_object.short_name %}" class="">

        <img src="{% static resource_object.static_path|add:'/thumbpics/' %}{{ resource_object.filename }}_t.jpg" alt="image: {{ resource_object.short_name }}"/>

        </a>
      </td>
      <td class="search-resources--title">
        <a href="{% url resource_object.app_namespace|add:':'|add:resource_object.resource_type|add:'_detail' resource_object.short_name %}" class="">
        {{ resource_object.title|safe }}</a>
      </td>
      <td class="search-resources--type">
        {{ resource_object.resource_type_title }}
      </td>
      <td class="search-resources--content-by">
        {{ resource_object.profiles.all.0 }}
      </td>  
    </tr>

    </li>
  {% endfor %}
</table>

{% endblock menu %}
