/*------------------------*/
/*-------MAP STYLES-------*/
/*added by Don 5/6/2014
to fix munched google map icons
overrides 100% setting in styles.css
*/
/**
 * Images
 */
img {
	border: none;
	max-width: none;
	height: auto;
}

/*---this was removed when maps when from popup pages to full pages 5/14
body {
	font-family: "museo-sans-condensed", "Arial Narrow", Arial, sans-serif;
	padding: 2%;
	background-color: #F0F2F9;
	font-size: medium;
	color: #333333;
	}
*/

/*style for heads and subheads*/
h1, h2, h3, h4 {
	font-family: "museo-sans-condensed", "Arial Narrow", Arial, sans-serif; 
	color: #B23F05;
	font-weight: 700;
	text-transform: none;
	}
h1 {
	font-size: 175%; margin: 0;
	}
h2 {
	font-size: 150%;
	}
h3	{
	font-size: 125%; 
	margin: .5em 0; 
	/*border-top: 1px solid #d1d4e7;*/
	}
h4	{
	font-size: 110%; 
	}
p.rel_maps	{/* for links to related maps near top of maps page */
	margin-top: -18px;
	width: 600px;
	}

/*styles for basic text elements
p 		{	
	font-size: .9em; line-height: 1.75em;
	} */
table, th, td {	
	font-size: .9em; line-height: 1.75em;
	}
.small		{
	font-size: .75em;
	}
label 		{
	font-size: .9em; margin-left: .5em;
	}
a:link		{
	color: #4D5E90; text-decoration: none;
	}
a:visited	{
	color: #4D5E90; text-decoration: none;
	}
a:hover		{
	text-decoration: underline;
	}
#left_col	{/*is this only used for the map????*/
	 float: left;
	 width: 24%; 
	 margin: 0 2% 0 0;
	 padding: 0; 
	 }
#map_wrapper	{
	 width: 70%; 
	 height: auto; 
	 margin-top: 50px;
	 margin-left: 27%;
	 padding: 0; 
	}
#map_canvas {
	 height: 700px; 
	 width: 750px; 
	 border: 1px #CCC solid;
	 }
div.years	{ 
	float: left; 
	width: 30%; 
	margin:0; 
	padding:0; 
	font-weight: 700;
	}
#side_bar	{ 
	width: 65%;
	margin-left: 32%;
	border: 1px solid #CCC;
	z-index: 9999;
	height: 350px;
	overflow: scroll;
	}
#side_bar h3	{
	margin: 0; 
	padding: .15em .5em; 
	width: 100%; 
	background: #CCC;
	}
ol.entry_list	{ 
	margin: 0 .5em; 
	padding: 0; 
	list-style-type: none;
	}
ol.entry_list li {
	padding: .2em 0 0 .2em;
	}
ol.entry_list li img {
	margin-right: 6px;
	}
span.close {
	float: right;
	}
div#left_col div#story_nav ol.chapters	{
	list-style-type: none;
}
/*------INFO WINDOW STYLES---------*/

#infowindow	{ width: 420px; max-height: 450px; font-size: 1.25em; padding: 16px; font-family: "Arial Narrow", Arial, sans-serif;}
#infowindow header	{position:relative; top: 0; left: 0;  overflow:auto; border-bottom: thin solid #CCC;}
#infowindow header date {font-size: 1.25em; color:#4D5E90; }
#infowindow section	{margin-top: .25em; }
#infowindow section p.date	{margin: 0; padding: 0;}
#infowindow section p.credit {color:#777; font-size: .8em; line-height: 1.2em; margin: 0 0 .5em 0; }
#infowindow section img.story	{border: thin solid #666; }

#infowindow dl {font-size: .9em; margin: 0;}
#infowindow dt {font-weight: 700; margin-right: .5em;}
#infowindow dl.noicons dt { float:left; }
#infowindow dl.noicons dd {margin-bottom: .25em;}
#infowindow dl.icons	{clear: left;}
#infowindow dl.icons dt { float: left; }
#infowindow dl.icons dt.img { float: left; margin-top: -20px; border: none;}
/*#infowindow dl.icons dd { padding-bottom: 35px; }*/

#infowindow section h2 {font-size: 1.5em; font-family: "museo-sans-condensed", "Arial Narrow", Arial, sans-serif; color: #B23F05; font-weight: 700; margin: 0;}
#infowindow h4 {float: left; font-size: 1em; font-weight: 700; margin: .25em 0;}
#infowindow div.log_entry	{ font-size: .9em; padding: 0 .75em; background-color:#F2F2F2; border: thin solid #CCC; height: 120px; width: 380px; overflow-y:scroll; overflow-x:hidden;}
#infowindow div.log_entry p	{ }
#infowindow a { float: right; font-size: .9em; margin-top: 6px;}
#infowindow a:link, #infowindow a:visited, #infowindow a:hover {color:#4D5E90;}
#infowindow div.infonav	{/* for prev/next nav in story chapters and voyage map infowindows */
	float: right;
	margin: 0;
	padding: 0;
}

/*------COMPARE VOYAGES STYLES---------*/

ul.compare_list	{ list-style: none;}
ul.compare_list li	{ padding-bottom: 1.5em;}
ul.compare_list li label { font-size: 1em; font-weight: 700;}
ul.compare_list li.solid_red	{
	border-top: 2px solid #e22c0c;
}
ul.compare_list li.solid_blue	{
	border-top: 2px solid #0f0ff1;
}

ul.compare_list li.dash_green	{
	border-top: 2px dashed #1daa1d;
}

/*------TABLETS STYLES---------*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{
	#map_canvas {
		 height: 600px; 
		 width: 700px; 
		 border: 1px #666666 solid;
		 }
}