article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#main::after {
  clear: both;
  content: "";
  display: table;
}

#top-row {
  background-color: #dee3e7;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
#top-row:last-child {
  margin-right: 0;
}

#banner {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
#banner:last-child {
  margin-right: 0;
}

#banner h1 a {
  font-size: 2.5em;
  font-weight: 100;
  margin-top: 0;
  color: #597485;
  text-decoration: none;
}

#main-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-top: 20px;
}
#main-content:last-child {
  margin-right: 0;
}

#side-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: #dee3e7;
  padding: 0 1.25em 1em 1.25em;
  border-radius: 25px;
}
#side-box:last-child {
  margin-right: 0;
}

#page-area {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
#page-area:last-child {
  margin-right: 0;
}

#bottom-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #022b61;
  color: white;
}
#bottom-row:last-child {
  margin-right: 0;
}

#indigo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 68.23843%;
}
#indigo:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  #red, #orange, #yellow, #green, #blue, #indigo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%;
  }
  #red:last-child, #orange:last-child, #yellow:last-child, #green:last-child, #blue:last-child, #indigo:last-child {
    margin-right: 0;
  }
}

ul.menu {
  list-style-type: none;
  margin-top: 0;
}

ul.menu li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 2em;
  margin-right: 1em;
  padding: 1em;
  height: 225px;
  background-color: #899ba7;
}
ul.menu li:last-child {
  margin-right: 0;
}

ul.menu li h4 {
  font-size: 1.25em;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  padding: 0 5px 5px 5px;
  margin-top: -10px;
}

ul.menu img.img-responsive {
  /*box-shadow: 5px 5px 0px #cbcbcb;*/
}

ul.menu img.img-responsive:hover {
  opacity: 0.65;
}

/*# sourceMappingURL=mse_neat.css.map */
