.articles-wrapper {
  @include media(580px) {
    @include span-columns(8);
  }
}

.article {
  @include span-columns(4 8);
  background-color: rgba($primary-color, 0.6);
  margin-bottom: $large-spacing;
  padding: $small-spacing;

  @include media(max-width 579px) {
    @include omega(2n);
  }

  @include media(min-width 800px max-width 910px) {
    @include span-columns(2.6666 8);
    @include omega(3n);
  }

  @include media(910px) {
    @include span-columns(2 8);
    @include omega(4n);
  }

  a h4 {
    color: white;
    font-weight: 200;
    padding-top: .5em;
  }
}