.dropdown {
  $large-screen: em(640) !default;

  .dropdown-button {
    cursor: pointer;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background-color: $toned-blue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    overflow: show;
    text-align: left;

    @include media($mobile-navigation-breakpoint) {
      @include position(absolute, 48px 0 null 0);
      display: none;
    }
  }

  .dropdown-list {
    @include media($mobile-navigation-breakpoint) {
      
      @include outer-container;
      padding-left: $logo-width-with-padding;
    }
 }

  .dropdown-list--item { 
    @include media($mobile-navigation-breakpoint) {
      @include span-columns(12/5);
    }

//when viewport is mobile or smaller, display the menu vertically
    @include media(max-width $mobile-navigation-breakpoint)  {
      background-color: red;
      float: none;    
    }   

    a {
      color: $primary-color;
      display: block;
      line-height: $base-spacing * 0.75;

      @include media(max-width $mobile-navigation-breakpoint) {
        border-bottom: thin dotted $primary-color;
        line-height: $small-spacing;
        img {
          display: none;
        }
      }

      @include media($mobile-navigation-breakpoint) {
        text-align: center;
      }

      &:hover {
        color: white;
        background-color: darken($toned-blue, 15%);
      }
    }
  }
}
