.home-grid {
	@include omega();
}

.home-banner {
	background: center / cover no-repeat url("../images/banner.jpg");
	height: 300px;
	margin-bottom: $large-spacing;
  
  // when viewport is less than or equal to 690, less bottom margin
  @include media(max-width $mobile-navigation-breakpoint) {
		margin-bottom: $base-spacing;
	}
}

.home-banner--text h1, .home-banner--text h2 {
	color: white;
	text-shadow: 1px 1px 2px black;
	
  @media print {
		padding-bottom: $large-spacing;
		font-size: $large-font-size;
  }  

	a:link, a:visited {
		color: white;

		&:hover {
		  color: $teal;
		  text-decoration: underline;
		  transition: color $base-duration $base-timing;
		}
	}
}

h1.home-banner--title {

  // when viewport is less than 690, make text small
  @include media(max-width $mobile-navigation-breakpoint) {
		font-size: $large-font-size;
		padding: $base-spacing null null 10%;
	}

	// when screen is greater than or equal to 691, 
	// but less than 980, make text medium
	@include media(min-width $mobile-navigation-breakpoint) {
		font-size: $large-font-size * 1.75;
		padding: $small-spacing 0 0 10%;
	}

	// when screen is greater than or equal to 980, make text large
  @include media(min-width 980px) {
		font-size: $large-font-size * 2;
		padding: $small-spacing $small-spacing $base-spacing 10%;
	}
}

h2.home-banner--subtitle {

  // when viewport is less than 690, make text small
  @include media(max-width $mobile-navigation-breakpoint) {
		font-size: $base-font-size * 1.25;
		margin-top: 1em;
		padding-left: 10%;
	}

	// when screen is greater than or equal to 691, 
	// but less than 980, make text medium
	@include media(min-width $mobile-navigation-breakpoint) {
		font-size: $large-font-size;
		padding-left: 10%;
	}

	// when screen is greater than or equal to 980, make text large
  @include media(min-width 980px) {
		font-size: $large-font-size * 1.25;
		margin-top: -3em;
		padding-left: 10%;
		padding-right: 5%;
	}
}

.featured {
  margin-bottom: $xlarge-spacing;
	position: relative;

  // when viewport is less than 690, tighten up headers
  @include media(max-width 	$mobile-navigation-breakpoint) {
  	margin-bottom: $large-spacing;
	}
}

.featured-header {
	background-color: white;
	max-width: 400px;
	padding: $small-spacing;
	position: absolute;
	top: 85%;
	left: 20%;
	@include fill-parent();
}

.featured-header--subtitle {
	color: $medium-gray;
	font-family: $base-font-family;
	font-size: $small-font-size;
	font-weight: bold;
	text-transform: uppercase;
}

.featured-header--title a {
	color: $primary-color;
	font-size: $medlarge-font-size;
 
	&:hover {
		  text-decoration: underline;
		}

  @include media(max-width 775px) {
    font-size: rem(20);
  }
}

h2.content-wrapper--head a {
	color: $primary-color;
}

.home-list {
	font-size: $small-font-size;
	line-height: $base-line-height;

		a {
			font-size: $base-font-size * 1.25;
		}

		li {
			margin-bottom: $base-spacing;
		}
}
