.home-grid {
	@include omega();
}

.home-banner {
	//text-align: center;
	background: center / cover no-repeat url("../images/banner.jpg");
	height: 300px;
	margin-bottom: $large-spacing;
}

.home-banner--text {
	//margin: -$large-spacing * 3 auto 0 auto;
	//margin: -$large-spacing * 3 auto 0 auto;
	//width: 75%;
	//margin-bottom: $large-spacing * 2.75;
	
  @media print {
		padding-bottom: $large-spacing;
  }

	a:link, a:visited {
		color: white;
		text-shadow: 1px 1px 2px $dark-gray;

	  // when viewport is less than 690, make text small
	  @include media($mobile-navigation-breakpoint) {
			font-size: $base-font-size * 1.25;
			font-weight: 400;
		}

		// when screen is greater than or equal to 691, 
		// but less than 980, make text medium
		@include media(min-width $mobile-navigation-breakpoint) {
			font-size: $medlarge-font-size;
			font-weight: 200;
		}

		// when screen is greater than or equal to 980, make text large
	  @include media(min-width 980px) {
			font-size: $large-font-size;
			font-weight: 200;
		}
	
	  @media print {
			font-size: $large-font-size;
			font-weight: 200;
	  }   
	}

	&:hover {
	  color: shade(white, 50%);
	  text-decoration: underline;
	  transition: color $base-duration $base-timing;
	}
}

h2.home-banner--subtitle {
	margin-top: -3em;
	padding-left: 20%;
	// position: relative;

 //  &::after {
	//   content: "";
	//   border-bottom: 5px solid white;
	//   position: absolute;
	//   left: 0;
	//   right: 0;
	//   bottom: 5px;
	// }
}

h1.home-banner--title {
	color: white;
	font-size: $large-font-size * 2;
	padding: $base-spacing 0 0 20%;
	// position: relative;

	// &::after {
	//   content: "";
	//   border-bottom: 5px solid white;
	//   position: absolute;
	//   left: 0;
	//   right: 0;
	//   bottom: 14px;
	// }
}
// .banner-text-left {
// 	text-align: left;
// }

// .banner-text-right {
// 	text-align: right;
// }

.featured {
  margin-bottom: $xlarge-spacing;
	position: relative;

  img {
  	//box-shadow: $hard-shadow;
	}	
}

//.featured h2 a {
//	color: white;

//	&:hover {
//	  text-decoration: underline;
//	}
//}

.featured-header {
	background-color: white;
	max-width: 400px;
	padding: $small-spacing;
	position: absolute;
	top: 85%;
	left: 20%;
	@include fill-parent();
}

//.featured-header--title, .featured-header--subtitle {
//	color: $primary-color;
//	font-weight: 200;
//	margin: 0;
//}

.featured-header--subtitle {
	color: $medium-gray;
	font-family: $base-font-family;
	font-size: $small-font-size;
	font-weight: bold;
	text-transform: uppercase;
}

.featured-header--title a {
	color: $primary-color;
	font-size: $medlarge-font-size;
 
	&:hover {
		  text-decoration: underline;
		}

  @include media(max-width 775px) {
    font-size: rem(20);
  }
}

.home-list {
	font-size: $small-font-size;
	line-height: $base-line-height;

		a {
			font-size: $base-font-size * 1.25;
			font-weight: 600;
		}

		li {
			margin-bottom: $base-spacing;
		}
}
