.item-menu--grid {}

.item-menu--item {
  @include span-columns(4 8);
  background-color: rgba($primary-color, 0.6);
  height: 200px;
  margin-bottom: $large-spacing;
  padding: $small-spacing;

  @include media(max-width 579px) {
    @include omega(2n);
  }

  @include media(min-width 800px max-width 910px) {
    @include span-columns(2.6666 8);
    @include omega(3n);
  }

  @include media(910px) {
    @include span-columns(2 8);
    @include omega(4n);
  }
}

.item-menu--link {
  color: white;
  font-weight: 200;
  line-height: $base-line-height / 1.25;

  img {
    border: thin solid #BFBFBF;
    margin-bottom: .25em;
  }
}
